body {
    background-color: hsla(219, 79%, 66%, 0.5);
}

h1 {
    color: red;
}

img {
    width: 400;
    height: 600;
}

.green {
    background-color: #008000;
}

.orange {
    background-color: rgb(255, 165, 0);
}

.small {
    font-size: 14px;
    font-weight: bold;
}